<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo01 声明式编程风格</title>
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
	<script src="node_modules/jquery/dist/jquery.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="node_modules/angular/angular.js"></script>
	<script src="src/app.js"></script>
	<script src="src/ctrl.js"></script>
</head>
<body>
	<div class="container" ng-controller="TextAreaWithLimitCtrl">
	  <span ng-class="{'text-danger' : shouldWarn()}">Remaining: {{remaining()}}</span>
		<div class="row">
			<textarea ng-model="message"></textarea>
		</div>
		<div class="row">
			<button class="btn btn-primary" ng-disabled="!hasValidLength()" ng-click="send()">send</button>
			<button class="btn btn-warning" ng-click="clear()">clear</button>
		</div>
	</div>
</body>
</html>
